{%- doc -%}
  Renders a single password footer social link.

  @param {string} title - Accessible label for the link
  @param {string} [link] - Destination URL; renders non-clickable when blank
  @param {string} [icon] - Icon name from snippets/icon.liquid
  @param {object} [image_upload] - Custom icon image; overrides selected icon
  @param {string} [shopify_attributes] - Block attributes for theme editor
  @param {string} [modifier_class] - Optional extra class on the list item
{%- enddoc -%}

{% liquid
  assign social_link = link | default: ''
  assign aria_label = title | default: 'Social link'
  assign has_link = false
  if social_link != blank
    assign has_link = true
  endif

  assign item_class = 'password-footer__social-item'
  if modifier_class != blank
    assign item_class = item_class | append: ' ' | append: modifier_class
  endif

  assign has_icon = false
  if icon != blank and icon != 'none'
    assign has_icon = true
  endif
  if image_upload != blank
    assign has_icon = true
  endif
%}

<li
  class="{{ item_class }}"
  {{ shopify_attributes }}
>
  {% if has_link %}
    <a
      href="{{ social_link }}"
      aria-label="{{ aria_label | escape }}"
      target="_blank"
      rel="noopener noreferrer"
    >
      {% if has_icon %}
        {% render 'icon-or-image',
          icon: icon,
          image_upload: image_upload,
          width: 24,
          class_name: 'password-footer__social-icon'
        %}
      {% else %}
        <span class="password-footer__social-label">
          {{- aria_label | escape -}}
        </span>
      {% endif %}
    </a>
  {% else %}
    <span
      class="password-footer__social-link"
      aria-label="{{ aria_label | escape }}"
    >
      {% if has_icon %}
        {% render 'icon-or-image',
          icon: icon,
          image_upload: image_upload,
          width: 24,
          class_name: 'password-footer__social-icon'
        %}
      {% else %}
        <span class="password-footer__social-label">
          {{- aria_label | escape -}}
        </span>
      {% endif %}
    </span>
  {% endif %}
</li>
