{% assign block_settings = block.settings %}

<email-signup-klaviyo
  class="email-signup-block"
  style="{% render 'size-style', settings: block_settings %}{% render 'spacing-style', settings: block_settings %}"
  data-company-id="{{ block_settings.klaviyo_company_id | escape }}"
  data-list-id="{{ block_settings.klaviyo_list_id | escape }}"
  data-custom-source="Eagle & Ash password page"
  data-fields-required="{{ 'blocks.email_signup_klaviyo.fields_required' | t | escape }}"
  data-error-message="{{ 'blocks.email_signup_klaviyo.error' | t | escape }}"
  {{ block.shopify_attributes }}>
  <form class="email-signup-klaviyo__form" novalidate>
    <div class="email-signup-klaviyo__form-wrap">

      <div class="email-signup__fields">
        <div class="email-signup-klaviyo__input-group">
          <label for="EmailInput-{{ block.id }}" class="visually-hidden">
            {{ 'blocks.email_signup.label' | t }}
          </label>
          <input
            id="EmailInput-{{ block.id }}"
            class="email-signup-klaviyo__input"
            type="email"
            name="email"
            autocorrect="off"
            autocapitalize="off"
            autocomplete="email"
            placeholder="{{ 'blocks.email_signup.placeholder' | t }}"
            required>
        </div>

        <fieldset class="email-signup-klaviyo__interest">
          <div class="email-signup-klaviyo__interest-options">
            <label class="email-signup-klaviyo__interest-option">
              <input
                type="radio"
                name="interest_type"
                value="B2C"
                required>
              <span>{{ 'blocks.email_signup_klaviyo.interest_b2c' | t }}</span>
            </label>
            <label class="email-signup-klaviyo__interest-option">
              <input
                type="radio"
                name="interest_type"
                value="B2B"
                required>
              <span>{{ 'blocks.email_signup_klaviyo.interest_b2b' | t }}</span>
            </label>
          </div>
        </fieldset>
      </div>

      <button
        type="submit"
        class="email-signup-klaviyo__button"
        aria-label="{{ 'actions.sign_up' | t }}">
        {{ block_settings.label }}
      </button>
    </div>



    <div
      data-signup-error
      class="email-signup-klaviyo__message hidden"
      tabindex="-1"
      role="alert">
      <svg
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
        focusable="false"
        aria-hidden="true"
        class="icon-error">
        {%- render 'icon'
          , icon: 'error' -%}
      </svg>
      <p class="email-signup-klaviyo__message-text">{{ 'blocks.email_signup_klaviyo.fields_required' | t }}</p>
    </div>

    <div
      data-signup-success
      class="email-signup-klaviyo__message hidden"
      tabindex="-1"
      role="status">
      <span class="svg-wrapper icon-success">
        {{ 'icon-checkmark.svg' | inline_asset_content }}
      </span>
      <p class="email-signup-klaviyo__message-text">{{ 'blocks.email_signup_klaviyo.success' | t }}</p>
    </div>
  </form>
</email-signup-klaviyo>

<script src="{{ 'email-signup-klaviyo.js' | asset_url }}" type="module"></script>

{% stylesheet %}
  .email-signup-block {
    color: #000000;
    min-width: fit-content;
    background-color: transparent;

    @media screen and (max-width: 749px) {
      width: 100%;
      min-width: unset;
    }
  }

  .email-signup-klaviyo__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "Lora"
    , serif;
  }

  .email-signup-klaviyo__form-wrap {
    display: flex;
    align-items: flex-start;
    gap: 12px;

    @media screen and (max-width: 710px) {
      flex-direction: column;
    }
  }

  .email-signup-klaviyo__interest {
    border: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-lg);
    color: #000000;
  }

  .email-signup-klaviyo__interest-options {
    display: flex;
    justify-content: space-between;
    gap: var(--gap-2xl);
    width: 100%;
    margin-top: 20px;
    font-size: 18px;

    @media screen and (max-width: 950px) {
      font-size: 16px;
    }

    @media screen and (max-width: 460px) {
      flex-direction: column;
      gap: 10px;
    }
  }

  .email-signup-klaviyo__interest-option {
    display: inline-flex;
    align-items: center;
    gap: var(--gap-xs);
    cursor: pointer;

    & > span {
      opacity: 0.6;
    }
  }

  .email-signup-klaviyo__interest-option input {
    accent-color: var(--color-primary);
    border-color: black;
    border-width: 2px;
    width: 30px;
    height: 30px;

    @media screen and (max-width: 950px) {
      width: 20px;
      height: 20px;
    }
  }

  .email-signup-klaviyo__interest-option:hover input {
    border-color: black;
  }

  .email-signup-klaviyo__input-group {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: transparent;
  }

  .email-signup-klaviyo__form .email-signup-klaviyo__input {
    min-height: 55px;
    padding: 0 8px;
    font-family: "Lora"
    , serif;
    font-size: 22px;
    font-weight: 400;
    color: #000000;
    background-color: transparent;
    border-radius: 0;
    border-color: black !important;
    border-width: 1px;
    outline: none;

    &::placeholder {
      color: black;
    }

    @media screen and (max-width: 950px) {
      font-size: 18px;
      min-height: 45px;
    }
  }

  .email-signup__fields {
    flex-grow: 1;

    @media screen and (max-width: 710px) {
      width: 100%;
    }
  }

  .email-signup-klaviyo__input.paragraph {
    width: 100%;
    color: var(--color-input-text);
    outline-color: var(--color-input-background);
  }

  .email-signup-klaviyo__button {
    white-space: nowrap;
    padding: 8px 36px;
    min-height: 55px;
    font-family: "Lora"
    , serif;
    font-weight: 400;
    color: var(--ash-amber-orange);
    background-color: var(--deepest-brand-blue);
    border: none;
    font-size: 24px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease;

    
    &:hover {
      background-color: black;
    }
    
    @media screen and (max-width: 950px) {
      font-size: 18px;
      min-height: 45px;
    }

    @media screen and (max-width: 710px) {
      width: 100%;
      margin-top: 28px;
    }
  }

  .email-signup-klaviyo__message {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-left: -6px;

    @media screen and (max-width: 710px) {
      margin-left: 0;
    }
  }
  
  .email-signup-klaviyo__message svg {
      width: 40px;
      height: 40px;

      @media screen and (max-width: 950px) {
        width: 30px;
        height: 30px;
      }
  }

  .email-signup-klaviyo__message-text {
    margin: 0;
  }

  .email-signup-klaviyo__message .icon-success {
    width: 40px;
    height: 40px;

    @media screen and (max-width: 950px) {
      width: 30px;
      height: 30px;
    }
  }

{% endstylesheet %}

{% schema %}
  {
    "name": "t:names.email_signup_klaviyo",
    "settings": [
      {
        "type": "paragraph",
        "content": "t:content.email_signups_adds_customer_data_to_klaviyo"
      },
      {
        "type": "header",
        "content": "t:content.klaviyo_setup"
      },
      {
        "type": "text",
        "id": "klaviyo_company_id",
        "label": "t:settings.klaviyo_company_id",
        "info": "t:info.klaviyo_company_id"
      },
      {
        "type": "text",
        "id": "klaviyo_list_id",
        "label": "t:settings.klaviyo_list_id",
        "info": "t:info.klaviyo_list_id"
      }, {
        "type": "header",
        "content": "t:content.submit_button"
      }, {
        "type": "text",
        "id": "label",
        "label": "t:settings.label",
        "default": "t:text_defaults.sign_up"
      }
    ],
    "presets": [
      {
        "name": "t:names.email_signup_klaviyo",
        "category": "t:categories.forms"
      }
    ]
  }
{% endschema %}